<div class="add-todo" style="text-align: center;">
  <div class="add-todo-title">
    <h1>ADD A TASK!</h1>

  </div>
  <div class="add-todo-main">
    <form action="/" method="post">
      <input type="text" name="GoMyCode" id="todo" autofocus autocomplete="off">
      <br>
      <button type="submit"><i class="fa-solid fa-plus"></i>&nbsp;Add Task</button>
    </form>
    <a href="/"><i class="fa-solid fa-sign-out"></i>&nbsp;Back</a>
  </div>
</div>
